@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --color-red: hsl(1, 90%, 64%);
  --color-blue: hsl(219, 85%, 26%);
  --color-white: hsl(0, 0%, 100%);
  --color-very-light-grayish-blue: hsl(210, 60%, 98%);
  --color-light-grayish-blue-1: hsl(211, 68%, 94%);
  --color-light-grayish-blue-2: hsl(205, 33%, 90%);
  --color-grayish-blue: hsl(219, 14%, 63%);
  --color-dark-grayish-blue: hsl(219, 12%, 42%);
  --color-very-dark-blue: hsl(224, 21%, 14%);
}

html {
  font-family: 'Plus Jakarta Sans';
}

body,
p,
h1 {
  margin: 0;
}

.sr-only {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.container {
  padding-inline: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 3rem auto 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px var(--color-light-grayish-blue-2);
  }
}

.header {
  display: flex;
  align-items: center;
  padding-block: 1.25rem;
}

.title {
  color: var(--color-very-dark-blue);
  font-size: 20px;
}

.pill {
  margin-left: .5rem;
  font-size: 16px;
  padding: .125em .75em;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: .325em;
}

.btn-read-all {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: var(--color-dark-grayish-blue);
  font-size: 14px;
}

.btn-read-all:hover {
  cursor: pointer;
  color: var(--color-blue);
}

.header .btn-read-all {
  margin-left: auto;
}

.unread-indicator {
  margin-left: .5em;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-red);
}

.notification {
  padding: 1rem;
  border-radius: .8rem;
  display: flex;
}

.notification.unread {
  background-color: var(--color-very-light-grayish-blue);
}

.notification:not(:first-child) {
  margin-top: .5rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.content {
  color: var(--color-dark-grayish-blue);
}

.username {
  font-weight: 800;
  color: var(--color-very-dark-blue);
  text-decoration: none;
}

.username:hover {
  color: var(--color-blue);
}

.link-post {
  font-weight: 800;
  color: var(--color-grayish-blue);
  text-decoration: none;
}

.link-post:hover {
  color: var(--color-blue);
}

.link-group {
  font-weight: 800;
  color: var(--color-blue);
  text-decoration: none;
}

.link-picture {
  margin-left: auto;
  font-size: 0;
}

.link-picture:hover {
  border-radius: .5rem;
  box-shadow: 0 0 0 1px var(--color-white), 
              0 0 0 3px var(--color-light-grayish-blue-2);
}

.link-picture img {
  width: 3rem;
  height: 3rem;
  font-size: 0;
  border-radius: .5rem;
}

.private-message {
  border: 1px solid var(--color-light-grayish-blue-2);
  border-radius: .5rem;
  padding: 1rem;
  margin-top: 1rem;
  color: var(--color-dark-grayish-blue);
  cursor: pointer;
}

.private-message:hover {
  background-color: var(--color-light-grayish-blue-1);
}

.relative-time {
  color: var(--color-grayish-blue);
}